

body{
	margin: 0;
	padding: 0;
}
p {
	
	letter-spacing: 0.2em;
	text-indent: 35px;
	word-wrap: break-word;
	color: #ffffff;
	margin: 0;
	padding: 10px;
    font-size: 19px
}
h2{
    color: #ffffff;
		
}
#splash{
    height: 1000px;
    background: url(images/vr2000.png) no-repeat center top fixed;
    background-size: cover;

}
#overview{
    background-color: #698E3B;
    border-bottom: 2px double #000;
    padding: 45px 0;
		position: relative;
}
#video{
    background-color: #7A8546;
    border-bottom: 2px double #000;
    padding: 80px 0 100px 0;
}
#video p{
    text-indent: 0;
}
#vr_stat{
    background: url(images/234.jpg) no-repeat center top fixed;
    background-size: cover;
    border-bottom: 2px double #000;
    padding: 25px 0;
    font-size: 25px;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #000;
}
#footer{
    background-color: #072519;
    padding: 25px 0;
}
.container {
  width: 960px; 
  margin: 0 auto;
  overflow: hidden;
 
}
.half-container2 {
	width: 50%;
  float: left;
  overflow: hidden;
}
.half-container2 p{
	font-size: 20px;
}
.half-container { 
  width: 50%;
  float: left;
  overflow: hidden;

}
.half-container p{
    font-size: 25px;
		text-indent: 0px;
}
.half-container img{
    box-shadow: 10px 10px 5px #072519;
    border: 1px solid #70706C;
		border-radius: 20px;
}
.half-container table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
}
.half-container td, th {
    border-top: 1px solid #000;
    padding: 4px 8px;
		font-weight:bold;
		
}
.fltright{
	float:right;
	margin: 20px;
}
.fltleft{
	float:left;
	margin: 20px;
}
#navbar{
	position: fixed; 
	top: 0;
	width: 100%;
	height: 54px;
	background-color: rgba(255, 255, 255, 0.8); 
}	
ul#menu {
	list-style: none; 
	padding-top: 0px;
} 
ul#menu li {
	float: left; 
	padding-bottom: 20px;
} 
ul#menu li a.button {
	font-size: 16px;
	text-decoration: none;
	padding: 20px 100px 20px 100px; 
}
ul#menu li a.button:hover {
	background-color: rgba(105, 142, 59, 0.5);
}
#title-page{ 
width: 60%; 
padding-top: 300px; 
color: #fff; text-align: left; 
} 
#title-page h1 { 
font-family: 'Montserrat', sans-serif; 
font-size: 80px; 
text-shadow: 3px 3px #000; 
} 
#title-page h3 { 
font-size: 40px; 
font-style: italic; 
margin: 0 40px; 
text-shadow: 2px 2px #000; 
}   
#author {
  text-align: center;	
}
#author table{      
  margin: 0 auto;	
}
#author p {
  font-size: .8em;
  margin: 10px 0;
}
a:link {color: #0D4234} 
a:visited {color: #072519}  
a:hover {				  
	color: #072519;
	text-decoration: none;
}
a:active {color: #072519}
  
/*.half-container2 img{
	position: fixed;
	top:50%;
  left:50%;
  margin-top: -80px;
  margin-left: -200px;
	overflow: visible;
}*/
#title h2{
	text-align: center;
}

